*.py[co]
*.*~
*.pickle
*.pkl
*.pkl2
.DS_Store
log/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

machg.mchg


# LSA related files
*.coocdoc
*.gensimdict
*.npy
cooc
test
train


# sandbox test files
sandbox/afp_eng_199405_raw.cleaned
sandbox/pas/afp_eng_*
sandbox/fce_corpus/tmp*
sandbox/fce_corpus/parsed*
sandbox/fce_corpus/fptmp*
sandbox/fce_corpus/fce/*.pickle
sandbox/fce_corpus/fce2/*.pickle
sandbox/fce_corpus/fce3/*.pickle
sandbox/fce/test.txt
sandbox/fce2/gold.txt
sandbox/fce2/test.txt
sandbox/fce3/
sandbox/fce_corpus/fce_dataset_v2.pickle
sandbox/fce_corpus/fce_dataset_v2_tiny.pickle
sandbox/fce_corpus/fce_dataset_ver2_old.pickle
sandbox/fce_corpus/fce_others.pickle
sandbox/fce_corpus/fce_processed.pickle 2
sandbox/fce_corpus/fce_processed_2.pickle
sandbox/irstlm_sample/test.txt
sandbox/irstlm_sample/test_wc.txt
sandbox/parse_online/
sandbox/pas/out_PAS.pickle
sandbox/pas/out_PAS.tsv
sandbox/test.senna
sandbox/test_fp
sandbox/test_fp.parsed
/nbproject/
sandbox/classify/dataset.svmlight
sandbox/classify/datasets/have/dataset.svmlight
sandbox/classify/datasets/tell/dataset.svmlight
sandbox/classify/datasets2/accept/dataset.svmlight
sandbox/classify/datasets2/act/dataset.svmlight
sandbox/classify/datasets2/answer/dataset.svmlight
sandbox/classify/datasets2/apply/dataset.svmlight
sandbox/classify/datasets2/appreciate/dataset.svmlight
sandbox/classify/datasets2/arrange/dataset.svmlight
sandbox/classify/datasets2/attempt/dataset.svmlight
sandbox/classify/datasets2/attend/dataset.svmlight
sandbox/classify/datasets2/await/dataset.svmlight
sandbox/classify/datasets2/be/dataset.svmlight
sandbox/classify/datasets2/become/dataset.svmlight
sandbox/classify/datasets2/believe/dataset.svmlight
sandbox/classify/datasets2/bring/dataset.svmlight
sandbox/classify/datasets2/buy/dataset.svmlight
sandbox/classify/datasets2/call/dataset.svmlight
sandbox/classify/datasets2/carry/dataset.svmlight
sandbox/classify/datasets2/check/dataset.svmlight
sandbox/classify/datasets2/choose/dataset.svmlight
sandbox/classify/datasets2/close/dataset.svmlight
sandbox/classify/datasets2/come/dataset.svmlight
sandbox/classify/datasets2/communicate/dataset.svmlight
sandbox/classify/datasets2/consider/dataset.svmlight
sandbox/classify/datasets2/control/dataset.svmlight
sandbox/classify/datasets2/discover/dataset.svmlight
sandbox/classify/datasets2/do/dataset.svmlight
sandbox/classify/datasets2/dress/dataset.svmlight
sandbox/classify/datasets2/drink/dataset.svmlight
sandbox/classify/datasets2/enjoy/dataset.svmlight
sandbox/classify/datasets2/enter/dataset.svmlight
sandbox/classify/datasets2/excuse/dataset.svmlight
sandbox/classify/datasets2/experience/dataset.svmlight
sandbox/classify/datasets2/explain/dataset.svmlight
sandbox/classify/datasets2/express/dataset.svmlight
sandbox/classify/datasets2/feel/dataset.svmlight
sandbox/classify/datasets2/find/dataset.svmlight
sandbox/classify/datasets2/fit/dataset.svmlight
sandbox/classify/datasets2/get/dataset.svmlight
sandbox/classify/datasets2/give/dataset.svmlight
sandbox/classify/datasets2/go/dataset.svmlight
sandbox/classify/datasets2/happen/dataset.svmlight
sandbox/classify/datasets2/have/dataset.svmlight
sandbox/classify/datasets2/hear/dataset.svmlight
sandbox/classify/datasets2/help/dataset.svmlight
sandbox/classify/datasets2/increase/dataset.svmlight
sandbox/classify/datasets2/inform/dataset.svmlight
sandbox/classify/datasets2/join/dataset.svmlight
sandbox/classify/datasets2/keep/dataset.svmlight
sandbox/classify/datasets2/know/dataset.svmlight
sandbox/classify/datasets2/learn/dataset.svmlight
sandbox/classify/datasets2/leave/dataset.svmlight
sandbox/classify/datasets2/like/dataset.svmlight
sandbox/classify/datasets2/live/dataset.svmlight
sandbox/classify/datasets2/look/dataset.svmlight
sandbox/classify/datasets2/loose/dataset.svmlight
sandbox/classify/datasets2/lose/dataset.svmlight
sandbox/classify/datasets2/love/dataset.svmlight
sandbox/classify/datasets2/make/dataset.svmlight
sandbox/classify/datasets2/meet/dataset.svmlight
sandbox/classify/datasets2/move/dataset.svmlight
sandbox/classify/datasets2/notice/dataset.svmlight
sandbox/classify/datasets2/occur/dataset.svmlight
sandbox/classify/datasets2/offer/dataset.svmlight
sandbox/classify/datasets2/pass/dataset.svmlight
sandbox/classify/datasets2/pay/dataset.svmlight
sandbox/classify/datasets2/pick/dataset.svmlight
sandbox/classify/datasets2/place/dataset.svmlight
sandbox/classify/datasets2/play/dataset.svmlight
sandbox/classify/datasets2/practise/dataset.svmlight
sandbox/classify/datasets2/prefer/dataset.svmlight
sandbox/classify/datasets2/prepare/dataset.svmlight
sandbox/classify/datasets2/present/dataset.svmlight
sandbox/classify/datasets2/propose/dataset.svmlight
sandbox/classify/datasets2/prove/dataset.svmlight
sandbox/classify/datasets2/put/dataset.svmlight
sandbox/classify/datasets2/reach/dataset.svmlight
sandbox/classify/datasets2/receive/dataset.svmlight
sandbox/classify/datasets2/recognise/dataset.svmlight
sandbox/classify/datasets2/recommend/dataset.svmlight
sandbox/classify/datasets2/refuse/dataset.svmlight
sandbox/classify/datasets2/remain/dataset.svmlight
sandbox/classify/datasets2/remember/dataset.svmlight
sandbox/classify/datasets2/reply/dataset.svmlight
sandbox/classify/datasets2/satisfy/dataset.svmlight
sandbox/classify/datasets2/say/dataset.svmlight
sandbox/classify/datasets2/search/dataset.svmlight
sandbox/classify/datasets2/see/dataset.svmlight
sandbox/classify/datasets2/send/dataset.svmlight
sandbox/classify/datasets2/set/dataset.svmlight
sandbox/classify/datasets2/shall/dataset.svmlight
sandbox/classify/datasets2/show/dataset.svmlight
sandbox/classify/datasets2/shows/dataset.svmlight
sandbox/classify/datasets2/speak/dataset.svmlight
sandbox/classify/datasets2/spend/dataset.svmlight
sandbox/classify/datasets2/stay/dataset.svmlight
sandbox/classify/datasets2/stop/dataset.svmlight
sandbox/classify/datasets2/suppose/dataset.svmlight
sandbox/classify/datasets2/take/dataset.svmlight
sandbox/classify/datasets2/tell/dataset.svmlight
sandbox/classify/datasets2/thank/dataset.svmlight
sandbox/classify/datasets2/think/dataset.svmlight
sandbox/classify/datasets2/travel/dataset.svmlight
sandbox/classify/datasets2/turn/dataset.svmlight
sandbox/classify/datasets2/understand/dataset.svmlight
sandbox/classify/datasets2/use/dataset.svmlight
sandbox/classify/datasets2/visit/dataset.svmlight
sandbox/classify/datasets2/want/dataset.svmlight
sandbox/classify/datasets2/watch/dataset.svmlight
sandbox/classify/datasets2/wear/dataset.svmlight
sandbox/classify/datasets2/wonder/dataset.svmlight
sandbox/classify/datasets2/work/dataset.svmlight
sandbox/classify/datasets2/write/dataset.svmlight
sandbox/classify/datasets3/have/dataset.svmlight
sandbox/classify/datasets3/tell/dataset.svmlight
sandbox/classify/datasets3/wonder/dataset.svmlight
sandbox/classify/datasets_full/accept/dataset.svmlight
sandbox/classify/datasets_full/act/dataset.svmlight
sandbox/classify/datasets_full/answer/dataset.svmlight
sandbox/classify/datasets_full/apply/dataset.svmlight
sandbox/classify/datasets_full/appreciate/dataset.svmlight
sandbox/classify/datasets_full/arrange/dataset.svmlight
sandbox/classify/datasets_full/attempt/dataset.svmlight
sandbox/classify/datasets_full/attend/dataset.svmlight
sandbox/classify/datasets_full/be/dataset.svmlight
sandbox/classify/datasets_full/become/dataset.svmlight
sandbox/classify/datasets_full/believe/dataset.svmlight
sandbox/classify/datasets_full/bring/dataset.svmlight
sandbox/classify/datasets_full/buy/dataset.svmlight
sandbox/classify/datasets_full/call/dataset.svmlight
sandbox/classify/datasets_full/carry/dataset.svmlight
sandbox/classify/datasets_full/check/dataset.svmlight
sandbox/classify/datasets_full/choose/dataset.svmlight
sandbox/classify/datasets_full/close/dataset.svmlight
sandbox/classify/datasets_full/come/dataset.svmlight
sandbox/classify/datasets_full/communicate/dataset.svmlight
sandbox/classify/datasets_full/consider/dataset.svmlight
sandbox/classify/datasets_full/control/dataset.svmlight
sandbox/classify/datasets_full/discover/dataset.svmlight
sandbox/classify/datasets_full/do/dataset.svmlight
sandbox/classify/datasets_full/dress/dataset.svmlight
sandbox/classify/datasets_full/drink/dataset.svmlight
sandbox/classify/datasets_full/enjoy/dataset.svmlight
sandbox/classify/datasets_full/enter/dataset.svmlight
sandbox/classify/datasets_full/excuse/dataset.svmlight
sandbox/classify/datasets_full/experience/dataset.svmlight
sandbox/classify/datasets_full/explain/dataset.svmlight
sandbox/classify/datasets_full/express/dataset.svmlight
sandbox/classify/datasets_full/feel/dataset.svmlight
sandbox/classify/datasets_full/find/dataset.svmlight
sandbox/classify/datasets_full/fit/dataset.svmlight
sandbox/classify/datasets_full/get/dataset.svmlight
sandbox/classify/datasets_full/give/dataset.svmlight
sandbox/classify/datasets_full/go/dataset.svmlight
sandbox/classify/datasets_full/happen/dataset.svmlight
sandbox/classify/datasets_full/have/dataset.svmlight
sandbox/classify/datasets_full/hear/dataset.svmlight
sandbox/classify/datasets_full/help/dataset.svmlight
sandbox/classify/datasets_full/increase/dataset.svmlight
sandbox/classify/datasets_full/inform/dataset.svmlight
sandbox/classify/datasets_full/join/dataset.svmlight
sandbox/classify/datasets_full/keep/dataset.svmlight
sandbox/classify/datasets_full/know/dataset.svmlight
sandbox/classify/datasets_full/learn/dataset.svmlight
sandbox/classify/datasets_full/leave/dataset.svmlight
sandbox/classify/datasets_full/like/dataset.svmlight
sandbox/classify/datasets_full/live/dataset.svmlight
sandbox/classify/datasets_full/look/dataset.svmlight
sandbox/classify/datasets_full/loose/dataset.svmlight
sandbox/classify/datasets_full/lose/dataset.svmlight
sandbox/classify/datasets_full/love/dataset.svmlight
sandbox/classify/datasets_full/make/dataset.svmlight
sandbox/classify/datasets_full/meet/dataset.svmlight
sandbox/classify/datasets_full/move/dataset.svmlight
sandbox/classify/datasets_full/notice/dataset.svmlight
sandbox/classify/datasets_full/occur/dataset.svmlight
sandbox/classify/datasets_full/offer/dataset.svmlight
sandbox/classify/datasets_full/pass/dataset.svmlight
sandbox/classify/datasets_full/pay/dataset.svmlight
sandbox/classify/datasets_full/pick/dataset.svmlight
sandbox/classify/datasets_full/place/dataset.svmlight
sandbox/classify/datasets_full/play/dataset.svmlight
sandbox/classify/datasets_full/practise/dataset.svmlight
sandbox/classify/datasets_full/prefer/dataset.svmlight
sandbox/classify/datasets_full/prepare/dataset.svmlight
sandbox/classify/datasets_full/present/dataset.svmlight
sandbox/classify/datasets_full/propose/dataset.svmlight
sandbox/classify/datasets_full/prove/dataset.svmlight
sandbox/classify/datasets_full/put/dataset.svmlight
sandbox/classify/datasets_full/reach/dataset.svmlight
sandbox/classify/datasets_full/receive/dataset.svmlight
sandbox/classify/datasets_full/recognise/dataset.svmlight
sandbox/classify/datasets_full/recommend/dataset.svmlight
sandbox/classify/datasets_full/refuse/dataset.svmlight
sandbox/classify/datasets_full/remain/dataset.svmlight
sandbox/classify/datasets_full/remember/dataset.svmlight
sandbox/classify/datasets_full/reply/dataset.svmlight
sandbox/classify/datasets_full/satisfy/dataset.svmlight
sandbox/classify/datasets_full/say/dataset.svmlight
sandbox/classify/datasets_full/search/dataset.svmlight
sandbox/classify/datasets_full/see/dataset.svmlight
sandbox/classify/datasets_full/send/dataset.svmlight
sandbox/classify/datasets_full/set/dataset.svmlight
sandbox/classify/datasets_full/show/dataset.svmlight
sandbox/classify/datasets_full/shows/dataset.svmlight
sandbox/classify/datasets_full/speak/dataset.svmlight
sandbox/classify/datasets_full/spend/dataset.svmlight
sandbox/classify/datasets_full/stay/dataset.svmlight
sandbox/classify/datasets_full/stop/dataset.svmlight
sandbox/classify/datasets_full/suppose/dataset.svmlight
sandbox/classify/datasets_full/take/dataset.svmlight
sandbox/classify/datasets_full/tell/dataset.svmlight
sandbox/classify/datasets_full/thank/dataset.svmlight
sandbox/classify/datasets_full/think/dataset.svmlight
sandbox/classify/datasets_full/travel/dataset.svmlight
sandbox/classify/datasets_full/turn/dataset.svmlight
sandbox/classify/datasets_full/understand/dataset.svmlight
sandbox/classify/datasets_full/use/dataset.svmlight
sandbox/classify/datasets_full/visit/dataset.svmlight
sandbox/classify/datasets_full/want/dataset.svmlight
sandbox/classify/datasets_full/watch/dataset.svmlight
sandbox/classify/datasets_full/wear/dataset.svmlight
sandbox/classify/datasets_full/wonder/dataset.svmlight
sandbox/classify/datasets_full/work/dataset.svmlight
sandbox/classify/datasets_full/write/dataset.svmlight
sandbox/classify/datasets_full_5-gram/accept/dataset.svmlight
sandbox/classify/datasets_full_5-gram/act/dataset.svmlight
sandbox/classify/datasets_full_5-gram/answer/dataset.svmlight
sandbox/classify/datasets_full_5-gram/apply/dataset.svmlight
sandbox/classify/datasets_full_5-gram/appreciate/dataset.svmlight
sandbox/classify/datasets_full_5-gram/arrange/dataset.svmlight
sandbox/classify/datasets_full_5-gram/attempt/dataset.svmlight
sandbox/classify/datasets_full_5-gram/attend/dataset.svmlight
sandbox/classify/datasets_full_5-gram/be/dataset.svmlight
sandbox/classify/datasets_full_5-gram/become/dataset.svmlight
sandbox/classify/datasets_full_5-gram/believe/dataset.svmlight
sandbox/classify/datasets_full_5-gram/bring/dataset.svmlight
sandbox/classify/datasets_full_5-gram/buy/dataset.svmlight
sandbox/classify/datasets_full_5-gram/call/dataset.svmlight
sandbox/classify/datasets_full_5-gram/carry/dataset.svmlight
sandbox/classify/datasets_full_5-gram/check/dataset.svmlight
sandbox/classify/datasets_full_5-gram/choose/dataset.svmlight
sandbox/classify/datasets_full_5-gram/close/dataset.svmlight
sandbox/classify/datasets_full_5-gram/come/dataset.svmlight
sandbox/classify/datasets_full_5-gram/communicate/dataset.svmlight
sandbox/classify/datasets_full_5-gram/consider/dataset.svmlight
sandbox/classify/datasets_full_5-gram/control/dataset.svmlight
sandbox/classify/datasets_full_5-gram/discover/dataset.svmlight
sandbox/classify/datasets_full_5-gram/do/dataset.svmlight
sandbox/classify/datasets_full_5-gram/dress/dataset.svmlight
sandbox/classify/datasets_full_5-gram/drink/dataset.svmlight
sandbox/classify/datasets_full_5-gram/enjoy/dataset.svmlight
sandbox/classify/datasets_full_5-gram/enter/dataset.svmlight
sandbox/classify/datasets_full_5-gram/excuse/dataset.svmlight
sandbox/classify/datasets_full_5-gram/experience/dataset.svmlight
sandbox/classify/datasets_full_5-gram/explain/dataset.svmlight
sandbox/classify/datasets_full_5-gram/express/dataset.svmlight
sandbox/classify/datasets_full_5-gram/feel/dataset.svmlight
sandbox/classify/datasets_full_5-gram/find/dataset.svmlight
sandbox/classify/datasets_full_5-gram/fit/dataset.svmlight
sandbox/classify/datasets_full_5-gram/get/dataset.svmlight
sandbox/classify/datasets_full_5-gram/give/dataset.svmlight
sandbox/classify/datasets_full_5-gram/go/dataset.svmlight
sandbox/classify/datasets_full_5-gram/happen/dataset.svmlight
sandbox/classify/datasets_full_5-gram/have/dataset.svmlight
sandbox/classify/datasets_full_5-gram/hear/dataset.svmlight
sandbox/classify/datasets_full_5-gram/help/dataset.svmlight
sandbox/classify/datasets_full_5-gram/increase/dataset.svmlight
sandbox/classify/datasets_full_5-gram/inform/dataset.svmlight
sandbox/classify/datasets_full_5-gram/join/dataset.svmlight
sandbox/classify/datasets_full_5-gram/keep/dataset.svmlight
sandbox/classify/datasets_full_5-gram/know/dataset.svmlight
sandbox/classify/datasets_full_5-gram/learn/dataset.svmlight
sandbox/classify/datasets_full_5-gram/leave/dataset.svmlight
sandbox/classify/datasets_full_5-gram/like/dataset.svmlight
sandbox/classify/datasets_full_5-gram/live/dataset.svmlight
sandbox/classify/datasets_full_5-gram/look/dataset.svmlight
sandbox/classify/datasets_full_5-gram/loose/dataset.svmlight
sandbox/classify/datasets_full_5-gram/lose/dataset.svmlight
sandbox/classify/datasets_full_5-gram/love/dataset.svmlight
sandbox/classify/datasets_full_5-gram/make/dataset.svmlight
sandbox/classify/datasets_full_5-gram/meet/dataset.svmlight
sandbox/classify/datasets_full_5-gram/move/dataset.svmlight
sandbox/classify/datasets_full_5-gram/notice/dataset.svmlight
sandbox/classify/datasets_full_5-gram/occur/dataset.svmlight
sandbox/classify/datasets_full_5-gram/offer/dataset.svmlight
sandbox/classify/datasets_full_5-gram/pass/dataset.svmlight
sandbox/classify/datasets_full_5-gram/pay/dataset.svmlight
sandbox/classify/datasets_full_5-gram/pick/dataset.svmlight
sandbox/classify/datasets_full_5-gram/place/dataset.svmlight
sandbox/classify/datasets_full_5-gram/play/dataset.svmlight
sandbox/classify/datasets_full_5-gram/practise/dataset.svmlight
sandbox/classify/datasets_full_5-gram/prefer/dataset.svmlight
sandbox/classify/datasets_full_5-gram/prepare/dataset.svmlight
sandbox/classify/datasets_full_5-gram/present/dataset.svmlight
sandbox/classify/datasets_full_5-gram/propose/dataset.svmlight
sandbox/classify/datasets_full_5-gram/prove/dataset.svmlight
sandbox/classify/datasets_full_5-gram/put/dataset.svmlight
sandbox/classify/datasets_full_5-gram/reach/dataset.svmlight
sandbox/classify/datasets_full_5-gram/receive/dataset.svmlight
sandbox/classify/datasets_full_5-gram/recognise/dataset.svmlight
sandbox/classify/datasets_full_5-gram/recommend/dataset.svmlight
sandbox/classify/datasets_full_5-gram/refuse/dataset.svmlight
sandbox/classify/datasets_full_5-gram/remain/dataset.svmlight
sandbox/classify/datasets_full_5-gram/remember/dataset.svmlight
sandbox/classify/datasets_full_5-gram/reply/dataset.svmlight
sandbox/classify/datasets_full_5-gram/satisfy/dataset.svmlight
sandbox/classify/datasets_full_5-gram/say/dataset.svmlight
sandbox/classify/datasets_full_5-gram/search/dataset.svmlight
sandbox/classify/datasets_full_5-gram/see/dataset.svmlight
sandbox/classify/datasets_full_5-gram/send/dataset.svmlight
sandbox/classify/datasets_full_5-gram/set/dataset.svmlight
sandbox/classify/datasets_full_5-gram/show/dataset.svmlight
sandbox/classify/datasets_full_5-gram/shows/dataset.svmlight
sandbox/classify/datasets_full_5-gram/speak/dataset.svmlight
sandbox/classify/datasets_full_5-gram/spend/dataset.svmlight
sandbox/classify/datasets_full_5-gram/stay/dataset.svmlight
sandbox/classify/datasets_full_5-gram/stop/dataset.svmlight
sandbox/classify/datasets_full_5-gram/suppose/dataset.svmlight
sandbox/classify/datasets_full_5-gram/take/dataset.svmlight
sandbox/classify/datasets_full_5-gram/tell/dataset.svmlight
sandbox/classify/datasets_full_5-gram/thank/dataset.svmlight
sandbox/classify/datasets_full_5-gram/think/dataset.svmlight
sandbox/classify/datasets_full_5-gram/travel/dataset.svmlight
sandbox/classify/datasets_full_5-gram/turn/dataset.svmlight
sandbox/classify/datasets_full_5-gram/understand/dataset.svmlight
sandbox/classify/datasets_full_5-gram/use/dataset.svmlight
sandbox/classify/datasets_full_5-gram/visit/dataset.svmlight
sandbox/classify/datasets_full_5-gram/want/dataset.svmlight
sandbox/classify/datasets_full_5-gram/watch/dataset.svmlight
sandbox/classify/datasets_full_5-gram/wear/dataset.svmlight
sandbox/classify/datasets_full_5-gram/wonder/dataset.svmlight
sandbox/classify/datasets_full_5-gram/work/dataset.svmlight
sandbox/classify/datasets_full_5-gram/write/dataset.svmlight
src/obsolete/corpusreader.py
src/obsolete/lm_counter.py
src/obsolete/nyanco.py
src/obsolete/preprocessor.py
src/obsolete/preprocessor_fce.py
sandbox/classify/tiny/datasets/have/dataset.svmlight
sandbox/classify/tiny/datasets/tell/dataset.svmlight
sandbox/classify/tiny/datasets/wonder/dataset.svmlight
sandbox/classify/tiny/ukwac_s_.parsed
