*.py[co]
*.*~
*.pickle
.DS_Store
log/*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

machg.mchg


# LSA related files
*.coocdoc
*.gensimdict
cooc
test
train


# sandbox test files
sandbox/classify/dataset*
sandbox/afp_eng_199405_raw.cleaned
sandbox/pas/afp_eng_*
sandbox/fce_corpus/tmp*
sandbox/fce_corpus/parsed*
sandbox/fce_corpus/fptmp*
sandbox/fce_corpus/fce/*.pickle
sandbox/fce_corpus/fce2/*.pickle
sandbox/fce_corpus/fce3/*.pickle
sandbox/fce/test.txt
sandbox/fce2/gold.txt
sandbox/fce2/test.txt
sandbox/fce3/
sandbox/fce_corpus/fce_dataset_v2.pickle
sandbox/fce_corpus/fce_dataset_v2_tiny.pickle
sandbox/fce_corpus/fce_dataset_ver2_old.pickle
sandbox/fce_corpus/fce_others.pickle
sandbox/fce_corpus/fce_processed.pickle 2
sandbox/fce_corpus/fce_processed_2.pickle
sandbox/irstlm_sample/test.txt
sandbox/irstlm_sample/test_wc.txt
sandbox/parse_online/
sandbox/pas/out_PAS.pickle
sandbox/pas/out_PAS.tsv
sandbox/test.senna
sandbox/test_fp
sandbox/test_fp.parsed
/nbproject/
sandbox/classify/dataset.svmlight
sandbox/classify/datasets/*
sandbox/classify/datasets2/*
sandbox/classify/datasets3/*
sandbox/classify/datasets_full/*

src/obsolete/corpusreader.py
src/obsolete/lm_counter.py
src/obsolete/nyanco.py
src/obsolete/preprocessor.py
src/obsolete/preprocessor_fce.py
sandbox/classify/tiny/datasets/have/dataset.svmlight
sandbox/classify/tiny/datasets/tell/dataset.svmlight
sandbox/classify/tiny/datasets/wonder/dataset.svmlight
sandbox/classify/tiny/ukwac_s_.parsed
/sandbox/classify/out/
/sandbox/classify/tiny/out/
/sandbox/classify/tiny/datasets/wonder/
/sandbox/classify/tiny/datasets2/
/sandbox/classify/tiny/
/sandbox/evaluation/
/sandbox/fce2/
/sandbox/fce/
/sandbox/irstlm_sample/chunkLM/map/
/sandbox/irstlm_sample/chunkLM/lm/
/sandbox/irstlm_sample/chunkLM/
/sandbox/irstlm_sample/
